<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
        <title>Sterling Communication Technologies</title>
        <link href="/assets/img/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
        <link href="/assets/css/main.css" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap" rel="stylesheet">

    </head>

<<<<<<< HEAD
    <body class="flex-container-column centered"></body>
=======
    <body>
>>>>>>> staticPage
        {% include header.liquid %}

<<<<<<< HEAD
       
            {{ content }}
       
=======

        {{ content }}

>>>>>>> staticPage

        {% include footer.html %}

    </body>
</html>
