<header>
    <div class="container-fluid flex-container-row space">
        <div class="container-fluid">
            <a href="/">
                <img alt="Sterling Logo" class="img-fluid" src="/assets/img/SterlingLogo_onAlphaDarkened.png"/>
            </a>
        </div>


        <div class="container-fluid flex-container-column centered" id="region-label">
            {% for nav in collections.top-nav %}
                {% if page.url contains nav.data.flag %}
                    <span>{{nav.data.alttitle}}</span>

                {% endif %}
            {% endfor %}
        </div>

    </div>
    <!-- <span class="flex-container-column centered" id="tag-line">Bringing Technologies Together for Your Total Communication Solution</span> -->
</header>
