<header class="flex-container-row space">
    <a href="/">
        <img alt="Sterling Logo" src="/assets/img/SterlingLogo.png"/>
    </a>
    <div id="top-nav">
        {% for nav in collections.top-nav %}
            {% if page.url contains nav.data.flag %}
                <a href="{{nav.url}}" class="top-nav-item selected">{{nav.data.alttitle}}</a>
            {% else %}
                <a href="{{nav.url}}" class="top-nav-item">{{nav.data.alttitle}}</a>
            {% endif %}
        {% endfor %}
    </div>
</header>
