---
layout: base.liquid
---

<h2>Markets</h2>
<ul>
  <li>Hospitals and Clinics</li>
  <li>Assisted Living</li>
  <li>Nursing Homes</li>
  <li>Long Term Care Communities</li>
  <li>Educational Institutions</li>
  <li>Corporate and Industrial Facilities</li>
  <li>Military and Government Facilities</li>
  <li>Correctional Facilities</li>
</ul>
