---
layout: base.liquid
title: Vendors
flag: RM
tags: rm-nav
date: 2020-01-03
---

<p>
    Based in Littlton CO and serving CO, WY and NM.
</p>
<p>
    Providing service and installation excellence for these Vendors.
</p>
<div class="flex-container-row space-between">
    {% for vendor in collections.co %}
        <a href="{{ vendor.data.link }}" class="vendor-links" target="blank">
            <div class=" vendor-container centered">

                <div class="centered top">
                    <img src="{{ vendor.data.logoLink }}" alt="logo" class="logo-pic"/>
                </div>
                <p class="bottom">{{ vendor.data.slug }}</p>
            </div>
        </a>
    {% endfor %}
</div>
