---
layout: base.liquid
title: Vendors
flag: RM
tags: rm-nav
date: 2020-01-01
---

<p>
    Based in Littlton CO and serving CO, WY, NM, and NE.
</p>
<p>
    Providing service and installation excellence for these Vendors.
</p>
<div class="flex-container-row space-between">
    {% for vendor in collections.co %}
        <a href="{{ vendor.data.link }}" class="vendor-links">
            <div class=" vendor-container centered">
                <div class="centered top">
                    <h3>
                        {{ vendor.data.pageTitle }}
                    </h3>
                </div>

                <div class="centered">
                    <img src={{ vendor.data.logoLink }} alt="logo" class="logo-pic"/>
                </div>
                <p class="bottom">{{ vendor.data.slug }}</p>
            </div>
        </a>
    {% endfor %}

</div>